{% extends "partials/base.html" %}
{% block content %}
{% load static %}
<div class="p-3 mb-2 bg-dark text-white">
<div class="title-section row container-fluid my-3">
    <strong class="fs-2">Best Seller Today</strong>
</div>
<div class="sale-products row container-fluid">
    {% for dcn in products %}
    <div class="col-xs col-md-4">
        <div class='container'>
            <div class="card mb-3 card-product">
                <div class="row g-0">
                    <div class="col-12 d-flex justify-content-center">
                      <img class="best-seller-image" src="{% static dcn.image|add:'.jpg' %}">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{dcn.title}} </h5>
                            <p class="card-text">Giá:{{dcn.price}}vnđ</p>
                            <a href="/products/{{dcn.slug}}"><p class="card-text"><small class=" text-body-secondary">Xem chi tiết--></small></p></a>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
</div>
{% endblock %}